html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

body {
	padding-top: 50px;
}

div.encabezado {
	text-align: center;
}

form {
	margin: 0 auto;
}

footer {
	margin-top: 223px;
	text-align: center;
}

#botonesregistro {
	padding-top: 30px;
}

thead tr th {
	text-align: center;
}

tbody tr td {
	text-align: center;
}

.paginacion {
	margin-left: 600px;
	margin-top: 300px;
}

hr {
	margin-bottom: 50px;
}

a:link {
	text-decoration: none;
}

input {
	text-align: center;
}